In [111]:
import pandas as pd 
import numpy as np
from math import radians, cos, sin, asin, sqrt

In [113]:
merged_data = pd.read_csv('finaldataforthesis_withaddress_merged2.csv', sep='\t')

In [114]:
final_data  = merged_data.drop(['Unnamed: 0','coordinates','dist'],axis=1)

In [115]:
final_data.head(2)

,bathrooms,bedrooms,interest_level,latitude,longitude,price,address,Zip,State,County,City,Median Household Income,Number of Income Household,Number Population by Race,Number of Family Households in Poverty,Number of individual unemployed
0,1.5,3.0,medium,40.7145,-73.9425,3000.0,"370 Humboldt St, Brooklyn, NY 11211",11211.0,New York,Kings,New York,54406.0,37381.0,97772.0,18948.0,52303.0
1,1.0,2.0,low,40.7947,-73.9667,5465.0,"808 Columbus Ave, New York, NY 10025",10025.0,New York,New York,New York,74065.0,43456.0,96068.0,19089.0,54390.0

In [116]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49352 entries, 0 to 49351
Data columns (total 16 columns):
bathrooms                                  49352 non-null float64
bedrooms                                   49352 non-null float64
interest_level                             49352 non-null object
latitude                                   49352 non-null float64
longitude                                  49352 non-null float64
price                                      49352 non-null float64
address                                    49339 non-null object
Zip                                        49339 non-null float64
State                                      48963 non-null object
County                                     48963 non-null object
City                                       48963 non-null object
Median Household Income                    48963 non-null float64
Number of Income Household                 48963 non-null float64
Number Population by Race                  48963 non-null float64
Number of Family Households in Poverty     48963 non-null float64
Number of individual unemployed            48963 non-null float64
dtypes: float64(11), object(5)
memory usage: 6.0+ MB

In [29]:
data3 = pd.ExcelFile("/Users/ClumsyJace/Final Thesis Folder/NYC_Starbucks.xlsx")
#data2.sheet_names # print sheetnames
starstores = data3.parse("nycstar")
print("There are", len(starstores), "stores in NYC")
print(" ")
starstores.head()

There are 205 stores in NYC

       Brand      City State/Province Country   Postcode  Longitude  Latitude
0  Starbucks  New York             NY      US      10075     -73.95     40.77
1  Starbucks  New York             NY      US  100382504     -74.01     40.71
2  Starbucks  New York             NY      US  100197416     -73.99     40.76
3  Starbucks  New York             NY      US  100131218     -74.01     40.73
4  Starbucks  New York             NY      US  100256924     -73.97     40.79

In [30]:
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    # Radius of earth in kilometers is 6371
    miles = 3961* c
    return miles

In [31]:
def distance(long,lat):
    distlist = [] # create empty list for each records 
    for i in range(len(starstores)):
            long1, lat1 = long, lat
            long2, lat2 = starstores['Longitude'][i], starstores['Latitude'][i]
            dist = round(haversine(long1, lat1, long2, lat2),2)
            distlist.append(dist)
    return distlist

In [32]:
from datetime import datetime
startTime = datetime.now()
final_data['distance'] = final_data.apply(lambda row: distance(row['longitude'],row['latitude']), axis=1)
print(datetime.now() - startTime)

0:11:36.994488

In [34]:
len(final_data)

49352

In [50]:
final_data.head(2)

,bathrooms,bedrooms,interest_level,latitude,longitude,price,address,Zip,State,County,City,Median Household Income,Number of Income Household,Number Population by Race,Number of Family Households in Poverty,Number of individual unemployed,distance,mindistance
0,1.5,3.0,medium,40.7145,-73.9425,3000.0,"370 Humboldt St, Brooklyn, NY 11211",11211.0,New York,Kings,New York,54406.0,37381.0,97772.0,18948.0,52303.0,"[3.86, 3.55, 4.01, 3.7, 5.41, 3.49, 4.55, 3.89...",2.24
1,1.0,2.0,low,40.7947,-73.9667,5465.0,"808 Columbus Ave, New York, NY 10025",10025.0,New York,New York,New York,74065.0,43456.0,96068.0,19089.0,54390.0,"[1.92, 6.28, 2.69, 5.01, 0.37, 3.32, 1.34, 3.5...",0.37

In [42]:
def takemin(x):
    return min(x)

In [49]:
final_data['mindistance'] = final_data.apply(lambda row: takemin(row['distance']), axis=1)

In [87]:
v = final_data['distance'][1]
top1 = sorted(v)[1]

In [88]:
sum(1 for x in v if x <= .28)

0

In [60]:
len(starstores) # 205 stores in NYC

205

In [66]:
final_data["mindistance"].mean()

2.124403266331634

In [100]:
mediandist = final_data["mindistance"].median()
type(mediandist)

float

In [102]:
def storescount(a):
    return sum(1 for x in a if float(x) <=float(mediandist))

In [104]:
# Takes the count of Store less or equal to the median of the distance
final_data['storecount_mediandistance'] = final_data.apply(lambda row: storescount(row['distance']), axis=1)

In [105]:
final_data.head(2)

,bathrooms,bedrooms,interest_level,latitude,longitude,price,address,Zip,State,County,City,Median Household Income,Number of Income Household,Number Population by Race,Number of Family Households in Poverty,Number of individual unemployed,distance,mindistance,storecount_mediandistance
0,1.5,3.0,medium,40.7145,-73.9425,3000.0,"370 Humboldt St, Brooklyn, NY 11211",11211.0,New York,Kings,New York,54406.0,37381.0,97772.0,18948.0,52303.0,"[3.86, 3.55, 4.01, 3.7, 5.41, 3.49, 4.55, 3.89...",2.24,0
1,1.0,2.0,low,40.7947,-73.9667,5465.0,"808 Columbus Ave, New York, NY 10025",10025.0,New York,New York,New York,74065.0,43456.0,96068.0,19089.0,54390.0,"[1.92, 6.28, 2.69, 5.01, 0.37, 3.32, 1.34, 3.5...",0.37,0

In [106]:
final_data['storecount_mediandistance'].head(100)

0      0
1      0
2      7
3      0
4      0
5      7
6      3
7      0
8      0
9      2
10     5
11     0
12    16
13     9
14     3
15     0
16     2
17     0
18     1
19     2
20     0
21     5
22     0
23    14
24     9
25    14
26     3
27     1
28     0
29     3
      ..
70     0
71     0
72     2
73     5
74    14
75     3
76     0
77     0
78     0
79     0
80     0
81     0
82     3
83     1
84     3
85     5
86     0
87     3
88     0
89     4
90     3
91     5
92     5
93     0
94     0
95     0
96     6
97    14
98     0
99     1
Name: storecount_mediandistance, Length: 100, dtype: int64

In [107]:
list(final_data)

['bathrooms',
 'bedrooms',
 'interest_level',
 'latitude',
 'longitude',
 'price',
 'address',
 'Zip',
 'State',
 'County',
 'City',
 'Median Household Income',
 'Number of Income Household ',
 'Number Population by Race',
 'Number of Family Households in Poverty ',
 'Number of individual unemployed',
 'distance',
 'mindistance',
 'storecount_mediandistance']

In [109]:
# final_data.to_csv('thesis_final_data3.csv', sep='\t')

In [108]:
!pwd

/Users/ClumsyJace/PycharmProjects/MachineLearningProjects

In [110]:
final_data.head(2)

,bathrooms,bedrooms,interest_level,latitude,longitude,price,address,Zip,State,County,City,Median Household Income,Number of Income Household,Number Population by Race,Number of Family Households in Poverty,Number of individual unemployed,distance,mindistance,storecount_mediandistance
0,1.5,3.0,medium,40.7145,-73.9425,3000.0,"370 Humboldt St, Brooklyn, NY 11211",11211.0,New York,Kings,New York,54406.0,37381.0,97772.0,18948.0,52303.0,"[3.86, 3.55, 4.01, 3.7, 5.41, 3.49, 4.55, 3.89...",2.24,0
1,1.0,2.0,low,40.7947,-73.9667,5465.0,"808 Columbus Ave, New York, NY 10025",10025.0,New York,New York,New York,74065.0,43456.0,96068.0,19089.0,54390.0,"[1.92, 6.28, 2.69, 5.01, 0.37, 3.32, 1.34, 3.5...",0.37,0

In [ ]:
Final_Project_data